<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="sub_html-head :: html-head"></div>
    <title>ecommerce</title>
</head>
<body>
    <th:block th:include="sub_header"></th:block>

    <main role="main" class="container">
        <div class="jumbotron">
            <div th:if="${product != null}"><h5>Product: <span th:text="${product.name}"/></h5></div>
            <form id="cartForm" th:object="${addToCartDTO}" th:action="@{/cart/add}" method="post">
                <input type="hidden" name="id" th:value="${product.id}">
                <div class="form-group">
                    <p th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Name Error</p>
                    <div id="status"></div>
                    <label>Quantity</label>
                    <input type="text" class="form-control" placeholder="Quantity" th:field="*{quantity}">
                </div>
                <button type="submit" class="btn btn-primary">Add to cart</button>
            </form>
        </div>
    </main>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
        $('#cartForm').submit(function(e) {
            e.preventDefault()
            form = $(this)
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),
                success: function (data) {
                    $('#status').html(data)
                },
                error: function (data) {
                    $('#status').html(data.responseText)
                },
            })
        })
    })
</script>
</body>
</html>